<header id="main-header">
    <div class="header-top">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <a class="logo" routerLink="/">
                        <img src="{{ loginService.getPhoto() }}" alt="Login" title="Login" width="110px" height="40px" />
                    </a>
                </div>
                <div class="col-md-3 col-md-offset-2">
                    <!--<form class="main-header-search">
                        <div class="form-group form-group-icon-left">
                            <i class="fa fa-search input-icon"></i>
                            <input type="text" class="form-control">
                        </div>
                    </form>-->
                </div>
                <div class="col-md-4">
                    <div class="top-user-area clearfix">
                        <ul class="top-user-area-list list list-horizontal list-border">
                            <li *ngIf="loginService.logedUser == null" [ngClass]="{active: router.url=='/login'}">
                                <a routerLink="login" routerLinkActive="active">{{"MENU.LOGIN"|translate}}</a>
                            </li>
                            <li *ngIf="loginService.logedUser != null" [ngClass]="{active: router.url=='/profile'}">
                                <a routerLink="profile" routerLinkActive="active">{{"MENU.HI"|translate}} {{loginService.logedUser.nom}} {{loginService.logedUser.prenom}}</a>
                            </li>
                            <li *ngIf="loginService.logedUser != null">
                                <a href="javascript:void(0)" (click)="logout()">{{"MENU.LOGOUT"|translate}}</a>
                            </li>
                            <li>
                                <a href="javascript:void(0)" id="drop6" data-toggle="dropdown" class="dropdown-toggle">{{translate.currentLang.toUpperCase()}}<span class="caret"></span></a>
                                <ul  class="dropdown-menu">
                                    <li *ngFor="let lang of translate.getLangs()" [ngClass]="{'active': translate.currentLang==lang}">
                                        <a href="javascript:void(0)" (click)="changeTranlsation(lang)" >{{lang.toUpperCase()}}</a>
                                    </li>
                                </ul>
                            </li>
                            <li *ngIf="!deviseLoading">
                                <a href="javascript:void(0)" id="drop7" data-toggle="dropdown" class="dropdown-toggle">
                                    {{deviseService.currentDevise.code}} <span class="caret"></span>
                                </a>
                                <ul  class="dropdown-menu">
                                    <li *ngFor="let devise of deviseService.devises" [ngClass]="{'active': devise.id==deviseService.currentDevise.id}">
                                        <a href="javascript:void(0)" (click)="changeDevise(devise)"  >{{devise.code }}</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container" *ngIf="loginService.logedUser">
        <div class="nav">
            <ul class="slimmenu" id="slimmenu">
                <li [ngClass]="{active: router.url=='/' ||  router.url=='/hotel'}">
                    <a routerLink="/">{{"MENU.HOTELS"|translate}}</a>
                </li>

            </ul>
        </div>
    </div>
</header>