<div class="row">
    <div class="col-md-12">
        <div *ngIf="!error">
            <ul class="nav nav-tabs nav-justified">
                <li role="presentation"  *ngFor="let arrangement of arrangements; let i = index" [ngClass]="{active: i==0}" >
                    <a href="#tab_{{id}}_{{ arrangement.id }}"  role="tab" data-toggle="tab">
                        {{ arrangement.libelle }}
                    </a>
                </li>
            </ul>
            <div class="tab-content">
                <div *ngFor="let arrangement of arrangements; let i = index" [ngClass]="{active: i==0}"  class="tab-pane" id="tab_{{id}}_{{ arrangement.id }}">
                    <list-single-hotel-price-arrangement [id]="id" [search]="search" [arrangement]="arrangement"></list-single-hotel-price-arrangement>
                </div>
            </div>
        </div>
        <div *ngIf="error">
            <p>Erreuur !!!!</p>
        </div>
    </div>
</div>