<div class="row" style="margin: 15px;">
    <div class="row">
        <div class="col-md-10">
            <div class="row">
                <div class="col-md-2" *ngFor="let room of arrangement.rooms;let i = index">
                    <h5 style="text-align: center;">
                        [ <span [innerHTML]="room.occupationAdulte|persons"></span>
                        <span [innerHTML]="room.occupationEnfant|persons" style="font-size: 8px"></span> ]
                    </h5>
                    <div class="list-group">
                        <span class="label label-danger" *ngIf="room.chambres.length==0">{{ "HOTELS.ROOMS_NO_AVAILABLE"|translate }}</span>
                        <a href="javascript:void(0)" *ngFor="let chambre of room.chambres;let j = index" [ngClass]="{active: activeRooms[i]==j}" (click)="updateActiveRooms(i,j)"  class="list-group-item" style="font-size: 11px;">
                            {{chambre.libelle}}
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-2">
            <h3>{{total}} DT</h3>
            <h5> {{arrangement.libelle}}</h5>
        </div>
    </div>
</div>