<h1  class="page-title">Hotel list</h1>
<hotel-list-search (sendSearch)="updateSearch($event)" [allDetails]="true"></hotel-list-search>
<hotel-list-sort [countHotels]="countHotels" (sendSearch)="updateSearch($event)" ></hotel-list-sort>
<loading *ngIf="loadingList"></loading>
<alert class="info" [view]="!loadingList && hotels.length ==0" text="HOTELS.NO_AVAILABLE"></alert>
<div class="col-md-12" *ngFor="let hotel of hotels">
    <list-single-hotel [hotel]="hotel"></list-single-hotel>
</div>

<div class="search-results"
     infinite-scroll
     [infiniteScrollDistance]="2"
     [infiniteScrollThrottle]="500"
     (scrolled)="onScroll()">
</div>