<hotel-list-search (sendSearch)="updateSearch($event)"></hotel-list-search>
<hotel-list-sort [countHotels]="countHotels" (sendSearch)="updateSearch($event)" ></hotel-list-sort>
<loading *ngIf="loadingList"></loading>
<alert class="info" [view]="!loadingList && hotels.length ==0" text="HOTELS.NO_AVAILABLE"></alert>
<div class="col-md-12 " *ngFor="let hotel of hotels">
    <list-single-hotel [hotel]="hotel" [search]="search"></list-single-hotel>
</div>
<loading *ngIf="loadingMore"></loading>
<div class="search-results"
     infinite-scroll
     [infiniteScrollDistance]="2"
     [infiniteScrollThrottle]="500"
     (scrolled)="onScroll()">
</div>