<h2>Password</h2>
<alert class="success" [view]="success" text="AMICALE.NEW_CLIENT_SUCCESS"></alert>
<form (ngSubmit)="update()" #profileForm="ngForm">
    <div class="form-group">
        <!--<label>{{ 'PASSWORD.NEW_PASSWORD'|translate }}</label>-->
        <input type="password" minlength="5" maxlength="15" [(ngModel)]="password" required name="passwordModel" class="form-control" #passwordModel="ngModel" placeholder="{{ 'PASSWORD.NEW_PASSWORD'|translate }}">
        <div [@errorMessage]="passwordModel.valid || passwordModel.pristine" class="text-danger"> {{"LOGIN.REQUIRED"|translate}}</div>
    </div>
    <div class="form-group">
        <!--<label>{{ 'PASSWORD.CONFIRMATION_PASSWORD'|translate }}</label>-->
        <input type="password" minlength="5" maxlength="15" [(ngModel)]="passwordConfirmation" required name="passwordConfirmationModel" class="form-control" #passwordConfirmationModel="ngModel" placeholder="{{ 'PASSWORD.CONFIRMATION_PASSWORD'|translate }}">
        <div [@errorMessage]="password==passwordConfirmation && (passwordConfirmationModel.valid ||  (passwordConfirmationModel.pristine && !profileForm.submitted))" class="text-danger"> {{"PASSWORD.PASSWORD_REQUIRED"|translate}}</div>
    </div>
    <button type="submit" class="btn btn-primary" [disabled]="!profileForm.form.valid  || loading || password!=passwordConfirmation">
        <span *ngIf="loading">{{"PROFILE.LOADING"|translate}} ...</span>
        <span *ngIf="!loading">{{"PROFILE.UPDATE"|translate}}</span>
    </button>
</form>