<h1 class="page-title">{{"MENU.LOGIN"|translate}}</h1>
<alert class="danger" [view]="error" text="PROFILE.INVALID_FORM"></alert>
<alert class="danger" [view]="captchaError" text="PROFILE.INVALID_CAPTCHA"></alert>
<div class="row" data-gutter="60">
    <div class="col-md-4">
        <h3>{{ "LOGIN.WELOME"|translate }} {{config.AGENCE}}</h3>
        <p>Euismod nunc porta magna elementum penatibus amet gravida sit ligula odio id nunc proin sem augue quis
            posuere interdum in sapien congue rutrum scelerisque sociosqu cubilia ridiculus et luctus mollis
            Praesent est semper massa lobortis quisque lectus ridiculus hac eget
        </p>
    </div>
    <div class="col-md-4">
        <h3>{{"MENU.LOGIN"|translate}}</h3>
        <form [hidden]="confirmed" (ngSubmit)="onSubmit()" #loginForm="ngForm">
            <div class="form-group form-group-icon-left"><i class="fa fa-user input-icon input-icon-show"></i>
                <label>{{"PROFILE.EMAIL_LOGIN"|translate}}</label>
                <input type="text" [(ngModel)]="login" required name="login" class="form-control" #email="ngModel">
                <div [@errorMessage]="email.valid || email.pristine" class="text-danger">
                    {{"PROFILE.EMAIL_REQUIRED"|translate}}
                </div>
            </div>
            <div class="form-group form-group-icon-left"><i class="fa fa-lock input-icon input-icon-show"></i>
                <label>{{"PROFILE.PASSWORD"|translate}}</label>
                <input type="password" [(ngModel)]="password" required name="password" class="form-control"  #pwd="ngModel">
                <div [@errorMessage]="pwd.valid || pwd.pristine" class="text-danger">
                    {{"PROFILE.PASSWORD_REQUIRED"|translate}}
                </div>
            </div>
            <!--<re-captcha (captchaResponse)="handleCorrectCaptcha($event)" site_key="6LfolQ0UAAAAAMEnFklPKmUfV3QW9MFGPr_XY5Js"></re-captcha>-->
            <button type="submit" class="btn btn-primary" [disabled]="!loginForm.form.valid || loading">
                <span *ngIf="loading">{{"PROFILE.LOADING"|translate}} ...</span>
                <span *ngIf="!loading">{{"PROFILE.SUBMIT"|translate}}</span>
            </button>
        </form>
    </div>
    <div class="col-md-4">
        <h3>New To Traveler?</h3>
        <form>
            <div class="form-group form-group-icon-left"><i class="fa fa-user input-icon input-icon-show"></i>
                <label>Full Name</label>
                <input class="form-control" placeholder="e.g. John Doe" type="text"/>
            </div>
            <div class="form-group form-group-icon-left"><i class="fa fa-envelope input-icon input-icon-show"></i>
                <label>Emai</label>
                <input class="form-control" placeholder="e.g. johndoe@gmail.com" type="text"/>
            </div>
            <div class="form-group form-group-icon-left"><i class="fa fa-lock input-icon input-icon-show"></i>
                <label>Password</label>
                <input class="form-control" type="password" placeholder="my secret password"/>
            </div>
            <input class="btn btn-primary" type="submit" value="Sign up for Traveler"/>
        </form>
    </div>

</div>