<h1>{{"PROFILE.TITLE"|translate}}</h1>
<alert class="danger" [view]="error" text="PROFILE.INVALID_FORM"></alert>
<alert class="danger" [view]="captchaError" text="PROFILE.INVALID_CAPTCHA"></alert>
<form [hidden]="confirmed" (ngSubmit)="onSubmit()" #loginForm="ngForm">
    <div class="form-group">
        <label>{{"PROFILE.EMAIL"|translate}}</label>
        <input type="email" [(ngModel)]="login" required name="login" class="form-control" #email="ngModel">
        <div [@errorMessage]="email.valid || email.pristine" class="text-danger">
            {{"PROFILE.EMAIL_REQUIRED"|translate}}
        </div>
    </div>
    <div class="form-group">
        <label>{{"PROFILE.PASSWORD"|translate}}</label>
        <input type="password" [(ngModel)]="password" required name="password" class="form-control" #pwd="ngModel">
        <div [@errorMessage]="pwd.valid || pwd.pristine" class="text-danger">{{"PROFILE.PASSWORD_REQUIRED"|translate}}
        </div>
    </div>
    <div class="row">
        <div class="col-md-8">
            <re-captcha (captchaResponse)="handleCorrectCaptcha($event)" site_key="6LfolQ0UAAAAAMEnFklPKmUfV3QW9MFGPr_XY5Js"></re-captcha>
        </div>
        <div class="col-md-4">
            <button type="submit" class="btn btn-primary btn-block" style="float: right"
                    [disabled]="!loginForm.form.valid || loading">
                <span *ngIf="loading">{{"PROFILE.LOADING"|translate}} ...</span>
                <span *ngIf="!loading">{{"PROFILE.SUBMIT"|translate}}</span>
            </button>
        </div>
    </div>
</form>