<div class="container">
    <h1>{{"PASSWORD.TITLE"|translate}}</h1>
    <alert class="success" [view]="success" text="PROFILE.VALID_FORM"></alert>
    <alert class="danger" [view]="error" text="PASSWORD.ERROR1"></alert>
    <alert class="danger" [view]="error2" text="PASSWORD.ERROR2"></alert>
    <form (ngSubmit)="update()" #profileForm="ngForm">
        <div class="form-group">
            <label>{{ 'PASSWORD.CURRENET_PASSWORD'|translate }}</label>
            <input type="password" [(ngModel)]="currentPassword"  required name="pass1" class="form-control" #pass1="ngModel">
            <div [@errorMessage]="pass1.valid ||  (pass1.pristine && !profileForm.submitted)" class="text-danger"> {{"PROFILE.PASSWORD_REQUIRED"|translate}}</div>
        </div>
        <div class="form-group">
            <label>{{ 'PASSWORD.NEW_PASSWORD'|translate }}</label>
            <input type="password" [(ngModel)]="newPassword" minlength="5" maxlength="15" required name="pass2" class="form-control" #pass2="ngModel">
            <div [@errorMessage]="pass2.valid ||  (pass2.pristine && !profileForm.submitted)" class="text-danger"> {{"PROFILE.PASSWORD_REQUIRED"|translate}}</div>
        </div>
        <div class="form-group">
            <label>{{ 'PASSWORD.CONFIRMATION_PASSWORD'|translate }}</label>
            <input type="password" [(ngModel)]="confirmationPassword" minlength="5" maxlength="15" required name="pass3" class="form-control" #pass3="ngModel">
            <div [@errorMessage]="newPassword==confirmationPassword && (pass3.valid ||  (pass3.pristine && !profileForm.submitted))" class="text-danger"> {{"PASSWORD.PASSWORD_REQUIRED"|translate}}</div>
        </div>
        <button type="submit" class="btn btn-primary" [disabled]="!profileForm.form.valid  || loading || newPassword!=confirmationPassword">
            <span *ngIf="loading">{{"PROFILE.LOADING"|translate}} ...</span>
            <span *ngIf="!loading">{{"PASSWORD.EDIT"|translate}}</span>
        </button>
    </form>
</div>