<div class="container">
    <h1 class="page-title"> {{loginService.logedUser.amicale.libelle}}
        <small>{{ 'AMICALE.EDIT'|translate }}</small>
    </h1>
</div>
<div class="container" style="min-height: 600px">
    <div class="row">
        <div class="col-md-3">
            <amicale-menu></amicale-menu>
        </div>
        <div class="col-md-9">
            <alert class="success" [view]="success" text="PROFILE.VALID_FORM"></alert>
            <alert class="danger" [view]="error" text="PROFILE.INVALID_PROFILE"></alert>
            <loading *ngIf="loading"></loading>
            <form *ngIf="!loading" (ngSubmit)="update()" #profileForm="ngForm">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>{{ 'AMICALE.MONTANT_MARGE'|translate }}</label>
                            <input type="number" [(ngModel)]="amicale.marge_s_h_t" required name="margeSHT" class="form-control" #margeSHTModel="ngModel">
                            <div [@errorMessage]="margeSHTModel.valid || margeSHTModel.pristine" class="text-danger">
                                {{"LOGIN.REQUIRED"|translate}}
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                            <div class="checkbox" style="margin-top: 33px">
                                <label>
                                    <input type="checkbox" [(ngModel)]="amicale.marge_pour_s_h_t"  name="margePourSHT" class="i-check" #margePourSHTModel="ngModel" />
                                    {{ "AMICALE.MONTANT_MARGE_POUR"|translate }}
                                </label>
                            </div>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary" [disabled]="!profileForm.form.valid  || loadingSubmit">
                    <span *ngIf="loadingSubmit">{{"PROFILE.LOADING"|translate}} ...</span>
                    <span *ngIf="!loadingSubmit">{{"PROFILE.UPDATE"|translate}}</span>
                </button>
            </form>
        </div>
    </div>
</div>

