<div class="col-md-12 animated tab1">
    <loading *ngIf="loadingSaisons"></loading>
    <table class="table" *ngIf="!loadingSaisons">
        <thead>
        <tr>
            <th>#</th>
            <th>Contrat</th>
            <th>Name</th>
            <th>Kind</th>
            <th>Perides</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr *ngIf="loadingSaisons">
            <td colspan="5" style="text-align: center"><loading></loading></td>
        </tr>
            <tr  *ngFor="let saison of saisons">
                <td>{{saison.id}}</td>
                <td> {{saison.contrat.libelle}}</td>
                <td> {{saison.libelle}}</td>
                <td>
                    <span class="label label-default" *ngIf="saison.type==1">Saison</span>
                    <span class="label label-primary" *ngIf="saison.type==2">Promotion</span>
                    <span class="label label-success" *ngIf="saison.type==3">Amicale</span>
                    <span class="label label-warning" *ngIf="saison.type==4">Contingent</span>
                    <span class="label label-danger" *ngIf="saison.type==5">EarlyBooking</span>
                </td>
                <td>
                    <p *ngFor="let periode of saison.periodes">
                        {{periode.date_debut|date:"dd/MM/yyyy" }} -> {{periode.date_fin|date:"dd/MM/yyyy" }}
                    </p>
                </td>
                <td>
                    <a href="javascript:void(0)"  (click)="updateSelectedSeasons(saison.id)" data-toggle="modal" data-target="#myModal">Details</a>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<div class="modal fade bs-example-modal-lg" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" *ngIf="selectedSeason">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">{{ selectedSeason.libelle }}</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <dl class="dl-horizontal">
                            <dt>Hotel</dt>
                            <dd>{{selectedSeason.hotel.libelle}}</dd>
                            <dt>Convention</dt>
                            <dd>{{selectedSeason.contrat.libelle}}</dd>
                            <dt *ngIf="selectedSeason.agences.length >0">Agences</dt>
                            <dd *ngFor="let agence of selectedSeason.agences">
                                {{ agence }}
                            </dd>
                            <dt>Type</dt>
                            <dd>
                                <span class="label label-default" *ngIf="selectedSeason.type==1">Saison</span>
                                <span class="label label-primary" *ngIf="selectedSeason.type==2">Promotion</span>
                                <span class="label label-success" *ngIf="selectedSeason.type==3">Amicale</span>
                                <span class="label label-warning" *ngIf="selectedSeason.type==4">Contingent</span>
                                <span class="label label-danger" *ngIf="selectedSeason.type==5">EarlyBooking</span>
                            </dd>
                            <dt>Min Stay</dt>
                            <dd>{{selectedSeason.min_stay}} nights</dd>
                            <dt>Period</dt>
                            <dd *ngFor="let periode of selectedSeason.periodes"> {{periode.date_debut|date:"dd/MM/yyyy" }} -> {{periode.date_fin|date:"dd/MM/yyyy" }}</dd>
                            <dt>Ages</dt>
                            <dd><strong>Enfant 1 :</strong> [{{selectedSeason.min1_age_enfant}}..{{selectedSeason.max1_age_enfant}}]</dd>
                            <dd><strong>Enfant 2 :</strong> [{{selectedSeason.min2_age_enfant}}..{{selectedSeason.max2_age_enfant}}]</dd>
                            <hr>
                            <dt>Arr.Base</dt>
                            <dd>{{selectedSeason._arr_base.libelle}}</dd>
                            <dt>Base Price</dt>
                            <dd>{{selectedSeason.prix_convention}} DT</dd>
                            <dt>marge_vente</dt>
                            <dd>{{selectedSeason.marge_vente}} {{selectedSeason.pourcentage|showSigne}}</dd>
                            <hr *ngIf="selectedSeason.chambres.length >0" />
                            <dt *ngIf="selectedSeason.chambres.length >0">Occupation</dt>
                            <dd *ngFor="let chambre of selectedSeason.chambres">
                                <span ng-bind-html="chambre.etat|etat "></span> <strong>{{chambre.chambre.libelle}} :</strong>  Adulte[{{chambre.min_adulte}}-{{chambre.max_adulte}}] & child [{{chambre.min_enfant}}-{{chambre.max_enfant}}] & Pax [{{chambre.min_pax}}-{{chambre.max_pax}}]
                            </dd>
                            <hr *ngIf="selectedSeason.arrangements.length >0" />
                            <dt *ngIf="selectedSeason.arrangements.length >0">Arrangements</dt>
                            <dd *ngFor="let arrangement of selectedSeason.arrangements">
                                <span ng-bind-html=" arrangement.etat|etat "></span> <strong>{{arrangement.arrangement.libelle}} :</strong>  Val : {{  arrangement.valeur }} {{arrangement.valeur_pour|showSigne}} | Marge : {{  arrangement.marge }} {{arrangement.marge_pour|showSigne}}
                            </dd>
                            <hr  *ngIf="selectedSeason.vues.length >0"/>
                            <dt *ngIf="selectedSeason.vues.length >0">Vues</dt>
                            <dd *ngFor="let vue of selectedSeason.vues">
                                <span ng-bind-html="vue.etat|etat "></span> <strong>{{vue.vue.libelle}}</strong> => Val : {{  vue.valeur }} {{vue.valeur_pour|showSigne}} | Marge : {{  vue.marge }} {{vue.marge_pour|showSigne}}
                            </dd>
                            <hr>
                            <dt>Supp</dt>
                            <dd> <strong>Single : </strong>  {{selectedSeason.saison_supp.supp_single}} {{selectedSeason.saison_supp.supp_single_pour|showSigne}}</dd>
                            <dd> <strong>Single Marge : </strong>  {{selectedSeason.saison_supp.sipp_single_marge}} {{selectedSeason.saison_supp.supp_single_marge_pour|showSigne}}</dd>
                            <dd> <strong>Single Child : </strong>  {{selectedSeason.saison_supp.supp_single_enfant}}</dd>

                            <hr *ngIf="selectedSeason.supp_chambres.length >0" />
                            <dt *ngIf="selectedSeason.supp_chambres.length >0">Supp rooms</dt>
                            <dd *ngFor="let chambre of selectedSeason.supp_chambres">
                                <span ng-bind-html="chambre.etat|etat "></span> <strong>{{chambre.chambre.libelle}}</strong> => Val : {{  chambre.valeur }} {{chambre.valeur_pour|showSigne}} | Marge : {{  chambre.marge }} {{chambre.marge_pour|showSigne}}
                            </dd>
                            <hr>
                            <dt>1 enfant & 1 adult</dt>
                            <dd><strong>Age 1 :</strong> - {{selectedSeason.saison_reduc.val1_enfant1_adulte1}} {{selectedSeason.saison_reduc.pour1_enfant1_adulte|showSigne}}</dd>
                            <dd><strong>Age 2 :</strong> - {{selectedSeason.saison_reduc.val1_enfant1_adulte2}} {{selectedSeason.saison_reduc.pour1_enfant1_adulte|showSigne}}</dd>
                            <dt>1 enfant  & 2 adult</dt>
                            <dd><strong>Age 1 :</strong> - {{selectedSeason.saison_reduc.val1_enfant2_adulte1}} {{selectedSeason.saison_reduc.pour1_enfant2_adulte|showSigne}}</dd>
                            <dd><strong>Age 2 :</strong> - {{selectedSeason.saison_reduc.val1_enfant2_adulte2}} {{selectedSeason.saison_reduc.pour1_enfant2_adulte|showSigne}}</dd>
                            <dt>1 enfant separed</dt>
                            <dd><strong>Age 1 :</strong> - {{selectedSeason.saison_reduc.val1_enfant_separe1}} {{selectedSeason.saison_reduc.pour1_enfant_separe|showSigne}}</dd>
                            <dd><strong>Age 2 :</strong> - {{selectedSeason.saison_reduc.val1_enfant_separe2}} {{selectedSeason.saison_reduc.pour1_enfant_separe|showSigne}}</dd>

                            <dt>2> enfant & 1 adult</dt>
                            <dd><strong>Age 1 :</strong> - {{selectedSeason.saison_reduc.val2_enfant1_adulte1}} {{selectedSeason.saison_reduc.pour2_enfant1_adulte|showSigne}}</dd>
                            <dd><strong>Age 2 :</strong> - {{selectedSeason.saison_reduc.val2_enfant1_adulte2}} {{selectedSeason.saison_reduc.pour1_enfant1_adulte|showSigne}}</dd>
                            <dt>2> enfant  & 2 adult</dt>
                            <dd><strong>Age 1 :</strong> - {{selectedSeason.saison_reduc.val2_enfant2_adulte1}} {{selectedSeason.saison_reduc.pour2_enfant2_adulte|showSigne}}</dd>
                            <dd><strong>Age 2 :</strong> - {{selectedSeason.saison_reduc.val2_enfant2_adulte2}} {{selectedSeason.saison_reduc.pour2_enfant2_adulte|showSigne}}</dd>
                            <dt>2> enfant separed</dt>
                            <dd><strong>Age 1 :</strong> - {{selectedSeason.saison_reduc.val2_enfant_ou_plus_separe1}} {{selectedSeason.saison_reduc.pour2_enfant_ou_plus_separe|showSigne}}</dd>
                            <dd><strong>Age 2 :</strong> - {{selectedSeason.saison_reduc.val2_enfant_ou_plus_separe2}} {{selectedSeason.saison_reduc.pour2_enfant_ou_plus_separe|showSigne}}</dd>

                        </dl>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
