<div class="container">
    <h1 class="page-title"> {{loginService.logedUser.amicale.libelle}}
        <small>{{"AMICALE.BOOKING"|translate}}</small>
    </h1>
    <hr>
</div>
<div class="container" style="min-height: 600px">
    <div class="row">
        <div class="col-md-3">
            <amicale-menu></amicale-menu>
        </div>
        <div class="col-md-9">
            <table class="table table-bordered table-striped table-booking-history">
                <thead>
                    <tr>
                        <th>{{"MYBOOKING.ORDER_DATE"|translate}}</th>
                        <th>{{"MENU.HOTELS"|translate}}</th>
                        <th>Client</th>
                        <th>{{"HOTELS.CHECK_IN"|translate}}</th>
                        <th>{{"MYBOOKING.PRIX"|translate}}</th>
                        <th>{{ "AMICALE.VALDATED"|translate }}</th>
                        <th>{{"MYBOOKING.STATUS"|translate}}</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody *ngIf="loading">
                    <tr>
                        <td colspan="11" class="text-center">Loading</td>
                    </tr>
                </tbody>
                <tbody *ngIf="!loading">
                    <tr amicale-booking-single  *ngFor="let booking of bookings" [booking]="booking"></tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

