<li class="mb30 singleHotel" style="background-color: white">
    <div class="ribbon" *ngIf="hotel.prices.contingentDispo">
        <span>{{"DISPONIBLE"|translate}}</span>
    </div>
    <div class="notribbon" *ngIf="!hotel.prices.contingentDispo">
        <span>{{"SUR_DEMANDE"|translate}}</span>
    </div>
    <a class="booking-item" href="javascript:void(0)" style="border: none">
        <div class="row" *ngIf="!booking">
            <div class="col-md-2">
                <div class="booking-item-img-wrap">
                    <img *ngIf=" hotel.photo" [src]="pathPhoto+hotel.photo" alt="{{ hotel.details.libelle }}">
                    <img *ngIf="!hotel.photo" src="https://placeholdit.imgix.net/~text?txtsize=25&txt={{hotel.details.libelle}}&w=159&h=119" alt="{{ hotel.details.libelle }}" >


                </div>
            </div>
            <div class="col-md-10">
                <div class="row">
                    <div class="col-md-4">
                        <div class="booking-item-rating" style=" margin-bottom: 5px; ">
                            <a routerLink="/hotels/{{hotel.details.id}}"><h5 class="booking-item-title" style="display: inline-block;">{{hotel.details.libelle}}</h5></a>
                            <span [innerHTML]="hotel.details.categorie.nombre_etoiles|stars"></span>
                            <p class="booking-item-address" style=" margin-bottom: 2px; ">
                                <i class="fa fa-map-marker"></i> {{hotel.details.ville.libelle }}, {{hotel.details.ville.pays.libelle }}
                            </p>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="row">
                            <div class="col-md-12">
                                <span *ngFor="let label of hotel.labels" class="label {{label.classe}}" style=" margin-left: 5px; ">{{label.label}}</span>
                            </div>

                        </div>
                    </div>
                    <div class="col-md-12" [innerHTML]="hotel.details.description_courte.replace('<br>','')"></div>
                    <div class="col-md-12">
                        <ul class="booking-item-features booking-item-features-small clearfix" style=" margin-top: 8px; ">
                            <li *ngFor="let amenagement of hotel.details.amenagements" rel="tooltip" data-placement="top" title="" data-original-title="Air Conditioning">
                                <i class="{{amenagement.fontclass}}" title="{{amenagement.libelle}}"></i>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-12"><hr></div>
        </div>
        <list-single-hotel-price [arrangements]="hotel.prices.arrangements" [id]="hotel.details.id"></list-single-hotel-price>
    </a>
</li>
<hr>