<hotel-list-search-2 [allDetails]="false" (sendSearch)="updateSearch($event)"></hotel-list-search-2>
<div class="container mt50">
    <div class="row">
        <div class="col-md-12">
            <ul class="booking-list" *ngIf="!loading && hotel">
                <list-single-hotel [hotel]="hotel" [booking]="true"></list-single-hotel>
            </ul>
            <loading *ngIf="loading"></loading>
            <alert class="danger" [view]="!hotel && !loading" text="HOTELS.ROOMS_NO_AVAILABLE"></alert>
        </div>

    </div>
</div>